@import "bootstrap";

body {
  background-color: #f2f3ff;
}

.inline-link {

  a {
    background-color: lighten( $link-color, 40% );
    padding: 0.2rem 0.3rem;
    border-radius: 3px;

    &:hover {
      text-decoration: none;
      background-color: darken($link-color, 15%);
      color: white;
    }
  }

}

main, .main  {
  background-color: white;
}