@import "bootstrap";

body {
  background-color: #f2f3ff;
}

.inline-link {

  a {
    background-color: lighten( $link-color, 40% );
    padding: 0.2rem 0.3rem;
    border-radius: 3px;

    &:hover {
      text-decoration: none;
      background-color: darken($link-color, 15%);
      color: white;
    }
  }

}

main, .main  {
  background-color: white;
}

.day-chart {

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .dot {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .price-text,
  .dot-text {
    font-size: 10px;
    font-family: Cousine, sans-serif;
  }

  .price-line {
    fill: none;
    stroke: green;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 1.0;
  }

  .price-dot {
    fill: white;
    stroke: green;
    stroke-width: 1.5px;
  }

}