<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= PageTitle.page_title(assigns) %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <%= render BenzinpreiseWeb.LayoutView, "header.html", assigns %>

    <div class="container-fluid main pt-5 pb-5">
        <div class="container main">
            <main>
                <%= unless is_nil(get_flash(@conn, :info)) do %>
                  <p class="alert alert-success"><%= get_flash(@conn, :info) %></p>
                <% end %>
                <%= unless is_nil(get_flash(@conn, :error)) do %>
                  <p class="alert alert-danger"><%= get_flash(@conn, :error) %></p>
                <% end %>
                <%= render @view_module, @view_template, assigns %>
            </main>
        </div>
    </div>
    <%= render BenzinpreiseWeb.LayoutView, "footer.html", assigns %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("js/day").hello()</script>
  </body>
</html>
