<footer>
    <div class="container-fluid border-top pt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col inline-link">
                    <a href="/">Home</a>
                </div>
            </div>
        </div>
    </div>
</footer>